<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  <body>
    <header>
      <table>
				<tr>
					<td><a class='sidehyper' href="index">Homepage</a></td>
					<td><a class='sidehyper' href="about">About Us</a></td>
					<td><a class='sidehyper' href="contact">Contact Us</a></td>
				</tr>
			</table>
    </header>
    <h1>About Us</h1>
    <hr>
    <h2>Muxuan Lyu</h2>
    <hr>
    <h4>Graduate student at University of California, Berkeley</h4>
    <h4>Graduated from <a href="http://www.shisu.edu.cn/" >Shanghai International Studies University</a></h4>
    <p><strong>Major</strong>: Management Information Systems</p>
    <p><strong>Focus</strong>: Data Science</p>
    <p><strong>Skills</strong>: Programming, Management, Accounting</p>
    <p><strong>Hobbies</strong>: Painting(Chinese Painting, Colored Pencil)</p>
    <br />
    <footer>
      <table>
				<tr>
					<td><a class='sidehyper' href="index">Homepage</a></td>
					<td><a class='sidehyper' href="about">About Us</a></td>
					<td><a class='sidehyper' href="contact">Contact Us</a></td>
				</tr>
			</table>
    </footer>

  </body>
</html>
