<!DOCTYPE html>
<html>
	<head>
		<title>Leo Babauta's Blog</title>
	</head>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
	<body>
		<script type="text/javascript" src="/static/js/script.js">

		</script>
		<header>
			<table>
				<tr>
					<td><a class='sidehyper' href="index">Homepage</a></td>
					<td><a class='sidehyper' href="about">About Us</a></td>
					<td><a class='sidehyper' href="contact">Contact Us</a></td>
				</tr>
			</table>

		</header>

		<h1>Leo Babauta's Blog</h1>
		<hr />
		<h2>Contents</h2>
		<ul>
			<p><li><a class='hyper' href="/blog/8-experiments-in-motivation">8 Experiments in Motivation</a></li>
			</p><p><li><a class='hyper' href="/blog/a-mindful-shift-of-focus">A Mindful Shift of Focus</a></li>
			</p><p><li><a class='hyper' href="/blog/how-to-develop-an-awesome-sense-of-direction">How to Develop an Awesome Sense of Direction</a></li>
			</p><p><li><a class='hyper' href="/blog/training-to-be-a-good-writer">Training to Be a Good Writer</a></li>
			</p><p><li><a class='hyper' href="/blog/what-productivity-systems-wont-solve">What Productivity Systems Won't Solve</a></li>
			</p>
		</ul>

		<footer>
			<table>
				<tr>
					<td><a class='sidehyper' href="index">Homepage</a></td>
					<td><a class='sidehyper' href="about">About Us</a></td>
					<td><a class='sidehyper' href="contact">Contact Us</a></td>
				</tr>
			</table>
		</footer>
	</body>
</html>
